<a href="https://colab.research.google.com/github/XmrincognitoX/data-science-bootcamp/blob/main/Pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [39]:
import re

In [69]:
dane = pd.DataFrame(data=[[10, 4, 8], [12, 5, 7]], index=['first', 'second'], columns=['a  t', 'b', 'c'])
dane

        a  t  b  c
first     10  4  8
second    12  5  7

In [18]:
dane.columns = [col if col!='a' else 'ab' for col in dane.columns]
dane

        ab  b  c
first   10  4  8
second  12  5  7

In [38]:
dane.columns = [col.replace(' ','_') for col in dane.columns]
dane

        a_t  b  c
first    10  4  8
second   12  5  7

In [70]:
dane.columns = [re.sub('\s+','_', col) for col in dane.columns]
dane

        a_t  b  c
first    10  4  8
second   12  5  7

In [ ]:
lista=[]
for col in dane.columns:
  print(col)
  print(lista)
  if col=='a':
    col='ab'
  lista.append(col)
  print(lista)
dane.columns = lista
dane